<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getblee.blee" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blee_logo"
        android:label="Blee"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/blee_logo"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/blee_logo"
            android:label="Blee"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ServerActivity"
            android:icon="@drawable/blee_logo"
            android:label="@string/title_activity_server"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getblee.blee.MainActivity" />
        </activity>
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <!--
        <activity android:name="com.android.music.MediaPlaybackActivity">

        </activity>
        -->
    </application>

</manifest>
